// body {
// }

.container {
  width: 80%;
  align-items: center;
  margin: auto;
  padding: 3rem 4rem;
  text-align: center;

  display: flex;
  flex-direction: column;

  gap: 2rem;

  .textInput {
    display: block;
    margin: 1.5rem;
  }
}

.button {
  background: #343440;
  font-weight: 600;
}